<div id="overlay{{uuid}}">
    <div id="wrapper{{uuid}}">
        <div id="sidebar{{uuid}}">
            {{#if sidebar.visible}}
                {{#if sidebar.body}}
                    {{{sidebar.body}}}
                {{/if}}
            {{/if}}
        </div>
        <div id="container{{uuid}}">
            <!--UpperContainer-->
            <div id="upContainer{{uuid}}r">
                <button id="buttonStart{{uuid}}">{{{icons.btnStart}}}</button>
                <button id="buttonLeft{{uuid}}">{{{icons.btnLeft}}}</button>
                <!--Slider-->
                <input
                    type="range"
                    name="slider"
                    id="slider{{uuid}}"
                    min="0"
                    max={{stepper.max}}
                    step="1"
                    value={{stepper.value}}
                />
                <button id="buttonRight{{uuid}}">{{{icons.btnRight}}}</button>
                <button id="buttonEnd{{uuid}}">{{{icons.btnEnd}}}</button>
            </div>

            <div id="helper{{uuid}}">
                {{{icons.axesHelper}}}
            </div>

            <!--BottomContainer-->
            <div id="bottomContainer{{uuid}}">
                <button id="buttonReset{{uuid}}">{{{icons.btnReload}}}</button>
                <!--Coutner-->
                {{#if counter}}
                    <span id="counter{{uuid}}">{{stepper.value}}/{{stepper.max}}</span>
                {{/if}}

                <button id="buttonFullscreen{{uuid}}">{{{icons.btnFullscreen}}}</button>
            </div>
        </div>
    </div>
</div>